.logon {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto;
    grid-gap: 5px;
    /*justify-content: center;*/
        
    margin: auto;
    width: 70%;
    
    /*text-align: left;*/
    
}

/*.logon span{
    display: inline-block;
    padding: 10px 20px;    
   
}*/

.logon label{
    grid-column: 1;
    text-align: right;
    padding-right: 5px;
}

.logon input{ 
    grid-column: 2;
    /*padding: 0px 20px;*/
    
}

.logon button{
    grid-column:  2;        
    padding: 2px 20px;    
    margin: 0 15%;       
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.profile img{
    display: block;          
}

.profile p{
    text-align: left;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 20px;
   
}

.logoff {
    text-align: center;
    padding: 20px;
}



@media only screen and (min-width: 800px) {
    .logon{
        width: 40%;
    }
}
