.modal{
    display: none;
    position:fixed;
    z-index: 4;

    overflow: auto;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;       
 
    background-color: rgba(0,0,0,0.4);
           
    opacity: 1;
    transition: opacity 1.25s, top 0.75s;  
}

.modal div{
    display: grid;
    grid-template-rows: auto 40px;
    grid-template-columns: auto auto;   
    grid-gap: 5px;
    
    margin: 20% auto;
    width: 50%;
    max-width: 480px;
    padding: 20px;
    border: 1px solid #888;
    
    background-color: #fefefe;
    box-shadow: 5px 5px 5px #4b4f4c;
}

.modal p{
    grid-column: 1/ 3;
    grid-row: 1;
    
    text-align: center;
}

.modal button{
    grid-column: 1/ 3;
    grid-row: 2;
    
    margin: auto;
    width: 160px;
    height: 90%;
}

.modal INPUT {
    /*margin-left: 1ex;*/
    grid-row: 2;
    margin: auto;
    width: 160px;    
    height: 90%
}

.modal.close{
    opacity: 0;    
}