.slideShow{
    /* Use inline-block display to 'shrinkwrap' slideshow to its content size*/
    display: inline-block;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px 30px;
    margin: 20px;
}

.slideShow div{
    margin: 0px;
    padding: 10px;
}

.slideShow h2 {
    font-size: 1.4rem;
}

.slideShow img {
    max-width: 100%;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: thin;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 3px black;
}

.slideShow button {
    padding: 5px 10px;
}