* {
    box-sizing: border-box;
}

html,body{
    margin:0;
    padding:0;            
}

body{
    font-size: 1.2rem;
    margin: 0px;
    background-color: lightgrey;                
}

img {
    border-radius: 0.5rem;
}
/* ------------------ Fixed Title and Navigation Bar -------------------- */            
#titleNav{
    display: flex;
    flex-direction: column;
    position:fixed;
    top: 0px;
    left: 0px;
    z-index: 1;

    padding: 1rem;
    width:100%;
    background-color: #80A5D9;
}


#title{
    font-size: 2rem;
    white-space: nowrap;
}

#nav{
    margin-top: 1rem;
    font-size: 1.2rem;
    white-space: nowrap;
    text-align: left;
}



 Pseudo-classes for navigation bar
a.nav,
a.nav:link,
a.nav:visited,
a.nav:hover,
a.nav:active{
    text-decoration: none;
    color: black;
}



/* --------------------------- Content ---------------------------------- */
#content {
    padding: 2rem;                
    padding-top: 7rem;

}

.row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#column33 {
    width: 100%;
    margin: 1rem;
}

#column66 {
    width: 100%;
    padding-right: 1rem
}

h2 {
    font-size: 1.3rem;
}

.slideContainer {
    display: flex;
    flex-direction: column;    
    align-items: center;
    
}


/* --------------------------- Footer Bar ------------------------------- */
#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;

    width: 100%;
    text-align:center;
    background-color: #80A5D9;
    padding: 10px;
}

/* ------------------ Responsive Design for Desktop --------------------- */
@media only screen and (min-width: 800px) {
    #titleNav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
    
    #nav {
        margin-top: 0rem;
        text-align: right;
    }

    /* adjust padding */
    #content {
        padding-top: 5rem;
    }
    
    /* Change images to multiple columns*/
    .row {
        flex-direction: row;
    }

    #column33 {
        width: 33%;
    }
    
    #column66 {
    width: 66%
}

}


